@charset "utf-8";
/* CSS Document */
body, * {
	font-family: Helvetica, Verdana, Arial;
}

#Header {
	background-color: #FF0000;
	color: #FFFFFF;
}

	#Header h1 {
		font-size: 2em;
		text-align: center;
	}

	#Header header p {
		font-size: 1em;
	}

		#Header header p a {
			color: #FFFFFF;
		}

			#Header header p a:hover, #Header header p a:active, #Header header p a:visited {
				color: #DFDFDF;
			}

h3 {
	color: #FF0000;
	font-size: 1.2em;
	font-weight: bold;
}

h4 {
	color: #FF0000;
	font-size: 1.1em;
	font-weight: bold;
}

#Content p {
	text-align: justify;
}

#Content hr {
	border-color: #FF0000;
	margin-top: 0px;
}

.print-button {
	background-color: #FF0000;
	color: #FFFFFF;
}

	.print-button:hover {
		background-color: #990000;
		color: #DFDFDF;
	}

.dotted-border {
	border: 1px dotted #DFDFDF;
	padding: 5px;
	margin-bottom: 5px;
}

	.dotted-border h4, .dotted-border p {
		margin: 0px;
	}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

ul.row {
	margin-right: 0px;
	margin-left: 0px;
}

.conhecimentos li {
	padding: 5px;
}
.button-line{
	margin: 5px 15px;
}