@charset "utf-8";
body, * {
  font-family: 'Open Sans', sans-serif; 
  margin: 0px;
  padding: 0px;
}
body { 
  padding-top: 120px;
}
a, a:hover, a:active, a:focus, a:visited {
  color: #1f4e79;
  text-decoration: none;
  font-weight: bold;
}
h1, h2, h4 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #1f4e79;
  text-transform: uppercase;
}
h1 {
  margin-top: 0px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
  color: #767171;
}
#apresentacao {
  padding: 5px;
  background-color: #f5f5ff;
  position: fixed;
  top: 0; right: 0; left: 0;
  height: 120px;
  z-index: 998
}
#apresentacao .fa-container {
  display: inline-block;
  width: 15px;
  text-align: center;
}
#download {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 999;
  background-color: #1f4e79;
  border: 1px solid #3f6e99;
  border-radius: 0px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
#download a {
  font-family: 'Pathway Gothic One';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}
#download a:hover {
  font-weight: normal;
}
section {
  border-bottom: 1px solid #1f4e79;
}
section:last-child {
  border-bottom: none;
}
p {
  padding-left: 50px;
}
.lista-com-borda>p {
  border-bottom: 1px dashed #cacaca;
}
.lista-com-borda>p:last-child {
  border-bottom: none;
}
.lista-xp div {
  margin: 10px auto;
}
.lista-xp div:first-child {
  margin-top: -25px;
}
.lista-xp dd {
  border-bottom: 1px dashed #cacaca;
  padding-bottom: 5px;
}
.lista-xp div:last-child dd {
  border-bottom: none;
}
.lista-xp h4:first-child {
  margin-top: 18px;
  line-height: 27px
}


/* tablet Landscape */
@media (max-width: 1024px) and (orientation: portrait) {
  #apresentacao {
    background-color: #f5f5ff;
    height: 160px;
    z-index: 998
  }
  #apresentacao p { padding-left: 0px; }
  #download {
    display: none;
  }
  body { padding-top: 160px; }
  h1 { margin-top: 0px; width: 50%; }
}

/* mobile Landscape */
@media (max-width: 900px) and (orientation: landscape) {
  #apresentacao {
    background-color: #f5f5ff;
    position: absolute;
    height: 100vh;
    z-index: 998;
  }
  #download {
    position: absolute;
    left: initial;
    top: initial;
    bottom: 60px;
    right: 0;
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  body { padding-top: 100vh; }
  h1 { margin-top: 10px; }
}

/* mobile Portrait */
@media (max-width: 599px) and (orientation: portrait) {
  #apresentacao {
    background-color: #f5f5ff;
    position: absolute;
    height: 90px;
    z-index: 998;
    overflow: hidden;
  }
  #download {
    position: relative;
    top: initial;
    display: block;
    width: 100%;
    border-radius: 0px;
    z-index: 997;
  }
  body { padding-top: 90px; }
  p { padding-left: 0px; }
  h1 { margin-top: 5px; width: 100%; }
  header#apresentacao:active, header#apresentacao:hover { height: 275px; }
}
