@charset "utf-8";
/* CSS Document */
/* 
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Open Sans', sans-serif; 
azul títulos: #1f4e79
*/

body, * {
  font-family: 'Open Sans', sans-serif; 
  margin: 0px;
  padding: 0px;
}
a, a:hover, a:active, a:focus, a:visited {
  color: #1f4e79;
  text-decoration: none;
  font-weight: bold;
}
h1, h2, h4 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #1f4e79;
  text-transform: uppercase;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
  color: #767171;
}
#apresentacao {
  background-color: #f5f5ff;
}
#download {
  position: fixed;
  top: 15px;
  right: 0;
  z-index: 999;
  padding: 5px;
  background-color: #1f4e79;
  border: 1px solid #3f6e99;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-family: 'Pathway Gothic One';
  color: #ffffff;
  text-transform: uppercase;
}
section {
  border-bottom: 1px solid #1f4e79;
}
section:last-child {
  border-bottom: none;
}
p {
  padding-left: 50px;
}
.lista-com-borda>p {
  border-bottom: 1px dashed #cacaca;
}
.lista-com-borda>p:last-child {
  border-bottom: none;
}
.lista-xp div {
  margin: 10px auto;
}
.lista-xp div:first-child {
  margin-top: -25px;
}
.lista-xp dd {
  border-bottom: 1px dashed #cacaca;
  padding-bottom: 5px;
}
.lista-xp div:last-child dd {
  border-bottom: none;
}
.lista-xp h4:first-child {
  margin-top: 18px;
  line-height: 27px
}
